.delivery-info-wrapper {
	position: relative;
	display: block;
	width: 1005px;
	margin: 50px auto 0;

	.count {
		position: relative;
		display: block;
		text-align: center;

		span {
			position: relative;
			display: block;
			color: $w16;
			font-size: 14px;
			font-family: $fmm;
		}

		p {
			position: relative;
			display: block;
			font-size: 34px;
			color: $w;
			font-family: $fmb;
			margin-top: 4px;
		}
	}

	.all-button {
		margin: 20px auto 0;
		min-width: 242px;
	}

	.info {
		position: relative;
		display: block;
		text-align: center;
		margin: 20px auto 0;

		& > * + * {
			margin-top: 5px;
		}

		span {
			position: relative;
			display: block;
			color: $w;
			font-size: 14px;
			font-family: $fmb;
		}

		p {
			position: relative;
			display: block;
			font-size: 14px;
			color: $w16;
			font-family: $fmm;
		}
	}
}

.delivery-container {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;

	ul.list-tabs-change {
		li {
			a, button {
				padding: 0 25px;
			}
		}
	}

	.delivery-blocks {
		position: relative;
		display: block;
		width: 100%;

		.block {
			position: relative;
			display: none;
			width: 100%;

			&.active {
				display: block;
			}

			.delivery-form {
				position: relative;
				display: grid;
				width: 100%;
				max-width: 600px;
				margin: 0 auto;
				grid-template-columns: 1fr 1fr;
				grid-gap: 20px 5px;

				& > * {
					min-width: 0;
				}

				.input-skew-row {
					&:before {
						background: $b12;
					}
				}

				.button-save {
					grid-column: 1 / -1;
					margin: 15px auto 0;
					min-width: 252px;

					&:before {
						box-shadow: 0px 0px 45px rgba(93, 22, 168, 0.65);
					}
				}

				@include s-max(x500) {
					grid-template-columns: 1fr;
					grid-gap: 10px;
				}
			}
		}
	}
}