.feedback-info {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 770px;
	min-height: 180px;
	padding: 35px;
	margin: 0 auto;
	align-items: flex-start;

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include rad(14px);
		background: linear-gradient(269.48deg, #16172F 6.62%, #1B1B30 92.46%);
		opacity: 0.65;
		box-shadow: 0px 35px 65px rgba(13, 14, 27, 0.15);
		transform: skew(-10deg);
	}

	.ico {
		position: relative;
		display: flex;
		width: 55px;
		height: 55px;
		align-items: center;
		justify-content: center;
		flex: none;
		margin-right: 16px;

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@include rad(8px);
			background: $y;
			transform: skew(-10deg);
		}

		.svg {
			width: 22px;
			height: 22px;
			background: $b5;
		}
	}

	.info {
		position: relative;
		display: flex;
		align-items: center;

		.desc {
			position: relative;
			display: block;
			flex: 1;
			margin-right: 35px;

			.title {
				position: relative;
				display: block;
				color: $w;
				font-size: 18px;
				font-family: $fms;

				& + * {
					margin-top: 5px;
				}
			}

			.text {
				position: relative;
				display: block;
				color: $w11;
				font-family: $fmm;
				font-size: 12px;
				line-height: 18px;
			}
		}

		.all-button {
			color: $b5;
			height: 43px;
			min-width: 162px;
			padding: 0 15px;

			&:before {
				background: $y;
				@include rad(8px);
			}

			@include s-min(x1000) {
				&:hover {
					&:before {
						filter: unset;
						background: $y2;
					}
				}
			}
		}
	}

	.delete {
		position: absolute;
		display: block;
		width: 14px;
		height: 14px;
		background: none;
		border: none;
		top: 21px;
		right: 14px;

		.svg {
			width: 14px;
			height: 14px;
			background: $b14;
			@include transition(0.2s);
		}

		@include s-min(x1000) {
			&:hover {
				.svg {
					transform: rotate(360deg);
					background: $r;
				}
			}
		}
	}

	@include s-max(x700) {
		flex-direction: column;

		&:before {
			transform: unset;
		}

		.ico {
			margin: 0 auto 20px;
		}

		.info {
			flex-direction: column;

			.desc {
				text-align: center;
				margin: 0 auto;
			}

			.all-button {
				margin: 25px auto 0;
			}
		}
	}
}

.feedback-container-page {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1500px;
	margin: 72px auto 0;
	align-items: flex-start;

	.send-form {
		position: relative;
		display: block;
		width: 430px;
		flex: none;
		padding: 48px 28px 28px;
		margin-right: 42px;

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@include rad(14px);
			background: linear-gradient(269.48deg, #16172F 6.62%, #1B1B30 92.46%);
			opacity: 0.65;
			box-shadow: 0px 35px 65px rgba(13, 14, 27, 0.15);
			transform: skew(-10deg);
		}

		.item {
			position: relative;
			display: block;
			width: 100%;
			max-width: 365px;

			& + .item {
				margin-top: 20px;
			}

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				@include rad(8px);
				background: $b12;
				transform: skew(-10deg);
			}

			input {
				background: none;
				border: none;
				width: 100%;
				height: 50px;
			}

			.result {
				position: relative;
				display: flex;
				width: 100%;
				height: 50px;
				align-items: center;
				padding: 0 15px 0 25px;

				.text {
					position: relative;
					display: block;
					color: $w9;
					font-size: 14px;
					font-family: $fms;
					margin-right: auto;
					padding-right: 10px;
				}
			}

			&.textarea {
				padding: 20px 25px;
			}

			textarea {
				background: none;
				border: none;
				width: 100%;
				height: 80px;
				margin: 0 auto;
				resize: none;
			}

			&:nth-child(1) {left: 21px;}
			&:nth-child(2) {left: 10px;}
			&:nth-child(3) {left: -9px;}
		}

		.buttons {
			position: relative;
			display: flex;
			width: 100%;
			max-width: 365px;
			align-items: center;
			justify-content: center;
			margin-top: 20px;
			left: -28px;

			.photo {
				position: relative;
				display: flex;
				width: 50%;
				height: 43px;
				padding: 0 10px;
				align-items: center;
				justify-content: center;

				input {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
					z-index: 1;
					transform: skew(-10deg);
				}

				.svg {
					width: 15px;
					height: 15px;
					background: $w12;
					margin-right: 10px;
					@include transition(0.2s);
				}

				span {
					position: relative;
					display: block;
					color: $w12;
					font-size: 14px;
					font-family: $fms;
					@include transition(0.2s);
				}

				&:before {
					content: '';
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid $b15;
					transform: skew(-10deg);
					@include rad(8px);
					@include transition(0.2s);
				}

				@include s-min(x1000) {
					&:hover {
						cursor: pointer;

						.svg {
							background: $w1;
						}

						span {
							color: $w1;
						}

						&:before {
							border-color: $w1;
						}
					}
				}
			}

			.all-button {
				color: $b5;
				height: 43px;
				min-width: unset;
				width: 50%;
				padding: 0 15px;

				&:before {
					background: $y;
					@include rad(8px);
				}

				@include s-min(x1000) {
					&:hover {
						&:before {
							filter: unset;
							background: $y2;
						}
					}
				}
			}
		}
	}

	.message-wrapper {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 10px;

		.message-item {
			position: relative;
			display: flex;
			width: 100%;
			max-width: 100%;
			min-width: 0;
			align-items: flex-start;
			padding: 26px 35px 26px 45px;

			& + .message-item {
				margin-top: 25px;
			}

			&:nth-child(6) ~ .message-item {
				display: none;
			}

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				@include rad(14px);
				background: linear-gradient(269.48deg, #16172F 6.62%, #1B1B30 92.46%);
				opacity: 0.65;
				box-shadow: 0px 35px 65px rgba(13, 14, 27, 0.15);
				transform: skew(-5deg);
			}

			.avatar {
				position: relative;
				display: flex;
				width: 60px;
				height: 60px;
				@include rad(50%);
				overflow: hidden;
				align-items: center;
				justify-content: center;
				background: $b1 url(../images/smile.png) no-repeat center;
				flex: none;
				margin-right: 14px;

				img {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					min-height: 100%;
				}
			}

			.message-desc {
				position: relative;
				display: block;
				width: 100%;
				overflow: hidden;

				.msg-info {
					position: relative;
					display: flex;
					width: 100%;
					align-items: center;
					margin: -3px 0 4px;

					.title {
						position: relative;
						display: flex;
						align-items: center;
						padding-right: 10px;
						flex-wrap: wrap;
						margin: 0 auto 0 0;
						overflow: hidden;

						.name {
							position: relative;
							display: block;
							white-space: nowrap;
							max-width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							margin: 3px 9px 3px 0;
							color: $w;
							font-size: 16px;
							font-family: $fmb;
						}

						.all-result-stars {
							margin: 3px 0;

							li {
								.svg {
									width: 17px;
									height: 17px;
								}
							}
						}
					}

					.date {
						position: relative;
						display: block;
						color: $w14;
						font-size: 14px;
						font-family: $fmm;
						white-space: nowrap;
						margin: 3px 0;
					}
				}

				.msg-text {
					position: relative;
					display: block;
					color: $w13;
					font-size: 14px;
					font-family: $fmm;
					line-height: 21px;

					img {
						position: relative;
						display: block;
						max-width: 100%;
						height: auto;
					}

					p + .images {
						margin-top: 10px;
					}

					.images {
						position: relative;
						display: flex;
						flex-wrap: wrap;
						margin: 0 -4px;

						& + * {
							margin-top: 10px;
						}

						li {
							position: relative;
							display: block;
							margin: 4px;
							width: 173px;

							img {
								position: relative;
								display: block;
								max-width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}

		.show-all-button {
			min-width: 190px;
			margin: 30px auto 0;
		}
	}

	@include s-max(x1200) {
		flex-direction: column;

		.send-form {
			width: 100%;
			max-width: 700px;
			margin: 0 auto 25px;

			.item {
				max-width: 665px;
			}

			.buttons {
				max-width: 665px;
			}
		}
	}

	@include s-max(x800) {
		.send-form {
			&:before {
				transform: unset;
			}

			.item, .buttons {
				left: 0 !important;
			}
		}

		.message-wrapper {
			.message-item {
				padding: 26px 20px;

				&:before {
					transform: unset;
				}

				.message-desc {
					.msg-info {
						flex-direction: column;
						align-items: flex-start;

						.title {
							flex-direction: column;
							align-items: flex-start;
						}
					}
				}
			}
		}
	}

	@include s-max(x500) {
		.message-wrapper {
			.message-item {
				padding: 26px 10px;
				flex-direction: column;

				&:before {
					transform: unset;
				}

				.avatar {
					margin: 0 auto 10px;
				}

				.message-desc {
					.msg-info {
						.title {
							width: 100%;

							.name {
								width: 100%;
								text-align: center;
								margin: 3px auto;
							}

							.all-result-stars {
								margin: 0 auto;
							}
						}

						.date {
							width: 100%;
							text-align: center;
						}
					}

					.msg-text {
						text-align: center;

						ul.images {
							justify-content: center;
						}
					}
				}
			}
		}
	}

	@include s-max(x400) {
		.send-form {
			padding: 28px 10px 28px;

			.buttons {
				flex-direction: column;

				.photo, .all-button {
					width: calc(100% - 10px);

					& + * {
						margin-top: 7px;
					}
				}
			}
		}
	}
}